@font-face {
    font-family: 'Vazirmatn';
    src: url('../fonts/Vazirmatn-RD[wght].woff2') format('woff2 supports variations'),
         url('../fonts/Vazirmatn-RD[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Vazirmatn';
}
.login{
    text-decoration: none;
    background-color: #ffffff;
    margin: 30px;
    padding:10px;
    color: #333;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid rgb(212, 212, 212);

}
.login:hover{
background-color: #f5f5f5;
border: 1px solid rgb(197, 197, 197);
box-shadow: 1px 2px rgb(230, 230, 230);
}

 
